*{
    margin: 0px;
    padding: 0px;
}
.nav{
    text-align: center;
    background: #040f6a;
}
.nav ul{
    list-style: none;
    padding: 30px;
}
.nav ul li{
    padding: 10px;
    display: inline;
    
}
/* added a position to align with the list */
#log{
    padding-top: 5px;
    float: right;
    position: relative;
    bottom: 5px;
}
/* added a position to align with the list */
#sign{
    padding-top: 5px;
    float: right;
    margin-right: 10px;
    position: relative;
    bottom: 5px;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
}
.nav ul li a:hover{
    text-decoration: none;
    color: red;
}
#sign{
    background: red;
    color: #000;
    border-radius: 20px;
}
#sign a:hover{
    color: black;
}
#log{
    border: 1px solid;
    border-color: #fff;
    border-radius: 20px;
}
.user{
    position: relative;
    right: 55rem;
    top: 2.8rem;
}

/* for about.html */
.heading{
    position: relative;
    left: 50rem;
    top: 4rem;
    font-size: xx-large;
    font-family: 'Hedvig Letters Sans', sans-serif;
}